<!-- Updating the existing user information -->
<div>
    <!-- <div class="card">
        <div *ngIf="flag">
            <h2>Update User</h2>
            <form (ngSubmit)="updateUserInfo()">
                <label>Email</label><br />
                <input type="text" name="email" [(ngModel)]="email" readonly /><br />
                <label>Password</label><br />
                <input type="text" name="password" [(ngModel)]="password" /><br />
                <button style="margin:5px;" type="submit" class="btn btn-primary">Update User</button>
                <button style="margin:5px;" type="reset" class="btn btn-primary ">Reset</button>
            </form>
        </div>
    </div> -->
    <br />
    <span style="color:red;font-size: 20px; align-items: center;">{{updateMsg}}</span>
    <br />
    <!-- Displaying the User details in a table -->
    <h1>User Details</h1><br />
    <table  class="table mt-3 action" style="border:1px solid black;margin-left:auto;margin-right:auto;">
        <!-- <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Date</th>
            <th>Delete User</th>
            <th>Update User</th>
        </tr> -->
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Date</th>
                <th scope="col">Delete User</th>
                <th scope="col">Update User</th>
                
            </tr>
        </thead>
        <tr *ngFor="let user of users">
            <td>{{user.email}}</td>
            <td>{{user.password }}</td>
            <td>{{dd| date:'medium'}}</td>
            <td><input type="button" value="Delete" class="btn btn-danger but" (click)="deleteUser(user.email)" /></td>
            <td><input type="button" value="Update" class="btn btn-success but2" (click)="updateUser(user)" /></td>
        </tr>
    </table>
    <br />
    <span style="color:red;font-size: 20px;">{{deleteMsg}}</span>
    <br />
    <span style="color: red;font-size:20px;text-align:center;">{{logoutMsg}}</span>
</div><br>

<div class="card">
    <div *ngIf="flag">
        <h2>Update User</h2>
        <form (ngSubmit)="updateUserInfo()">
            <label>Email</label><br />
            <input type="text" name="email" [(ngModel)]="email" readonly /><br /><br>
            <label>Password</label><br />
            <input type="text" name="password" [(ngModel)]="password" /><br /><br>
            <button style="margin:5px;" type="submit" class="btn btn-primary bn">Update User</button>
            <button style="margin:5px;" type="reset" class="btn btn-primary bn">Reset</button>
        </form>
    </div>
</div>